<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="/static/img/favicons/portfolio.ico" />
  <link rel="stylesheet" href="/static/css/portfolio.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
    crossorigin="anonymous" />

  <title>Portfolio</title>
</head>

<body class="portfolio-frame">
  <div class="container">
    <div class="left-section">
      <div class="profile">
        <img class="image" src="/static/img/icon/profile.svg" alt="profile-image" />
        <div class="name">
          {{name}}
        </div>

        <div class="profession"> {{profession}}</div>
        <div class="sns">
          <div class="box"> <img class="icon" src="/static/img/icon/sns-facebook.svg" alt="icon"> </div>
          <div class="box"> <img class="icon" src="/static/img/icon/sns-instagram.svg" alt="icon"> </div>
          <div class="box"> <img class="icon" src="/static/img/icon/sns-twitter.svg" alt="icon"> </div>
          <div class="box"> <img class="icon" src="/static/img/icon/sns-linked.svg" alt="icon"> </div>
          <div class="box"> <img class="icon" src="/static/img/icon/sns-youtube.svg" alt="icon"> </div>
        </div>
      </div>
      <div class="detail"></div>
      <div class="marginer"></div>
      <div class="languages"></div>
      <div class="marginer"></div>
      <div class="skills"></div>
      <div class="marginer"></div>
      <div class="extra-skills"></div>
    </div>

    <div class="middle-section">
      <div class="highlight"></div>
      <div class="services"></div>
    </div>

    <div class="right-section"></div>
  </div>
</body>

</html>